<template>
  <style>
    layer-message-item-sent {
      display: flex;
      flex-direction: column;
      align-content: stretch;
    }

    /* Twemoji */
    layer-message-item-sent img.emoji {
      margin: 0 .05em 0 .1em;
      vertical-align: -0.1em;
    }

    layer-message-item-sent .layer-list-item {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }

    layer-message-item-sent .layer-message-body-and-avatar {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      flex-grow: 1;
    }

    layer-message-item-sent .layer-message-item-main {
      text-align: right;
      flex-grow: 1;
      overflow: hidden;
    }
    layer-message-item-sent .layer-message-item-main .layer-message-item-content {
      display: inline-block;
      text-align: right;
      max-width: 90%;
    }

    /* Insure that text, images, videos, etc... are all right aligned */
    layer-message-item-sent layer-message-text-plain {
      display: block;
    }

    layer-message-item-sent .layer-avatar-delete-panel {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  </style>
  <div class='layer-list-item' layer-id='innerNode'>
    <div class='layer-message-body-and-avatar' layer-id='messageRow'>
      <div class='layer-message-item-main'>
        <div class='layer-message-item-content' layer-id='content'></div>
      </div>
      <div class='layer-avatar-delete-panel'>
        <layer-avatar layer-id='avatar'></layer-avatar>
        <layer-delete layer-id='delete'></layer-delete>
      </div>
    </div>
    <div class='layer-sender-info layer-sender-details'>
      <div class='layer-sender-name' layer-id='sender'></div>
      <layer-message-status layer-id='status'></layer-message-status>
      <layer-date layer-id='date'></layer-date>
    </div>
  </div>
</template>

<script>
  window.layerUI.registerTemplate('layer-message-item-sent');
</script>
