<template>
  <style>
      layer-composer {
        display: flex;
        flex-direction: row;
      }
      layer-composer .layer-compose-edit-panel {
        position: relative;
        flex-grow: 1;
        width: 100px; /* Flexbox fix */
        padding: 1px 0px;
      }
      layer-composer textarea, layer-composer .hidden-resizer, layer-composer .hidden-lineheighter {
        min-height: 20px;
        overflow :hidden;
        border-width: 0px;
        font-size: 1em;
        box-sizing: border-box;
        margin: 0px;
      }
      layer-composer textarea {
        resize: none;
        outline: none;
        position: absolute;
        z-index: 2;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
      layer-composer.layer-composer-one-line-of-text textarea {
        overflow-y: hidden;
      }
      layer-composer .hidden-resizer {
        opacity: 0.1;
        white-space: pre-wrap;
        word-wrap: break-word;
        max-height: 250px;
      }
      layer-composer .layer-compose-edit-panel .hidden-lineheighter {
        top: 0px;
        opacity: 0.1;
        white-space: nowrap;
        position: absolute;
        right: 10000px;
      }
  </style>
  <layer-compose-button-panel layer-id='buttonPanelLeft' class='layer-button-panel-left'></layer-compose-button-panel>
  <div class='layer-compose-edit-panel' layer-id='editPanel'>
    <div class='hidden-resizer' layer-id='resizer'>&nbsp;&nbsp;</div>
    <div class='hidden-lineheighter' layer-id='lineHeighter'>&nbsp;</div>
    <textarea required='true' rows="1" layer-id='input'></textarea>
  </div>
  <layer-compose-button-panel layer-id='buttonPanel' class='layer-button-panel-right'></layer-compose-button-panel>
</template>
<script>
  window.layerUI.registerTemplate('layer-composer');
</script>
