
<template>
  <style>
    /* Animation */
    @-webkit-keyframes layer-loader {
      to { -webkit-transform: rotate(360deg); }
    }
    @keyframes layer-loader {
      to { transform: rotate(360deg); }
    }

    /* Loader */
    layer-loading-indicator {
      display: block;
      margin: 15px 0px;
      width: 50px;
      height: 50px;
    }
    layer-loading-indicator > div {
      box-sizing: border-box;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background: transparent;

      border-top: 4px solid #dbdee4;
      border-right: 4px solid #dbdee4;
      border-bottom: 4px solid #f3f3f3;
      border-left: 4px solid #f3f3f3;

      -webkit-animation: layer-loader 1.2s infinite linear;
      animation: layer-loader 1.2s infinite linear;
    }
  </style>
  <div></div>
</template>