<template>
  <style>
    layer-messages-list {
      display: block;
      flex-grow: 1;
      height: 100px; /* flexbox bug */
      padding-bottom: 15px;
      overflow-y: scroll; /* has to be scroll, not auto */
      -webkit-overflow-scrolling: touch;
    }
    layer-messages-list .layer-header-toggle {
      min-height: 20px;
      margin-bottom: 2px;
    }
    layer-messages-list:not(.layer-loading-data) .layer-load-indicator,
    layer-messages-list:not(.layer-end-of-results) .layer-end-of-results-indicator {
      display: none;
    }

    layer-messages-list.layer-loading-data .layer-load-indicator,
    layer-messages-list.layer-end-of-results .layer-end-of-results-indicator {
        text-align: center;
    }
  </style>
  <!-- The List Header contains a collection of special nodes that may render at the top of the list for
    different conditions -->
  <div class='layer-list-meta' layer-id='listMeta'>

    <!-- Rendered when the list is empty -->
    <div class='layer-empty-list' layer-id='emptyNode' layer-has-replaceable='true'>
      <div class='layer-replaceable-content'></div>
    </div>

    <div class='layer-header-toggle'>

      <!-- Rendered when there are no more results to page to -->
      <div class='layer-end-of-results-indicator' layer-id='endOfResultsNode' layer-has-replaceable='true'>
        <div class='layer-replaceable-content'>
        </div>
      </div>

      <!-- Rendered when waiting for server data -->
      <div class='layer-load-indicator' layer-id='loadIndicator' layer-has-replaceable='true'>
        <div class='layer-replaceable-content'>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  window.layerUI.registerTemplate('layer-messages-list');
</script>

