<template>
  <style>
    layer-membership-item {
      display: flex;
      flex-direction: column;
    }
    layer-membership-item .layer-list-item {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    layer-membership-item .layer-list-item layer-avatar {
      margin-right: 20px;
    }
    layer-membership-item .layer-list-item label {
      flex-grow: 1;
      width: 100px; /* Flexbox bug */
    }
    layer-membership-item.layer-item-filtered .layer-list-item {
      display: none;
    }
    layer-membership-item.layer-membership-item-empty {
      display: none;
    }
  </style>
  <div class='layer-list-item'>
    <layer-avatar layer-id='avatar'></layer-avatar>
    <label class='layer-membership-name' layer-id='title'></label>
  </div>
</template>
<script>
  window.layerUI.registerTemplate('layer-membership-item');
</script>
