/* Theming for the Composer panel and its buttons */
layer-composer {
  background-color: #FAFBFC;
  border-top: @border-list-item;

  /* Any change you make to textarea MUST be made to .hidden-resizer as well!!! */
  textarea, .hidden-resizer {
    border-width: 0px;
    background-color: #FAFBFC;
    .layer-text-composer();
  }

  &.layer-composer-one-line-of-text {
    textarea, .hidden-resizer, .hidden-lineheighter {
      line-height: 25px;
    }
  }

  layer-compose-button-panel {
    padding: 0px 10px 0px 2px;
    min-height: 30px;

   layer-send-button {
     padding: 0px 30px;
     border-left: solid 1px #aaa;
     font-weight: @fontweight-bold;
   }

   layer-send-button:hover {
     background-color: rgba(0,0,0,0.02);
   }


    layer-file-upload-button, button {
      margin: 0px 15px 0px 5px;
    }

    layer-send-button {
      line-height: 40px;
      color: @fontcolor-emphasized;
      border-left: solid 1px #E4E9EC;
      font-family: "Helvetica Neue";
    }

    layer-file-upload-button {
      label {
        padding: 2px;
        border: solid 2px @fontcolor-button;
        border-radius: 20px;
        width: 24px;
        height: 24px;
        font-size: 30px;
        line-height: 22px;
      }
    }

    button {
      border-width: 0px;
      background-color: transparent;
      font-size: @fontsize-large;
      font-weight: @fontweight-bold;
      cursor: pointer;
    }

    layer-file-upload-button label, button {
      color: @fontcolor-button;
    }

    layer-file-upload-button:hover label, button:hover {
      color: @fontcolor-normal;
    }
  }
}
