layer-identity-item {
  .layer-list-item {
    border-bottom: @border-list-item;
    cursor: pointer;
    .layer-text-list-heading();

    line-height: 3.5rem;
    padding: 6px 10px;

    &:not(:first-child) {
      border-top: @border-list-item;
    }

    &.layer-identity-item-selected {
      .layer-identity-selected();
    }

    input {
      margin: 0px 10px;
    }
  }
}
