layer-presence {
  width: 16px;
  height: 16px;
  box-sizing: border-box;

  &.layer-presence-away {
    background-color: #F7CA40;
  }

  &.layer-presence-busy {
    background-color: #E6443F;
  }

  &.layer-presence-available {
    background-color: #4FBF62;
  }

  &.layer-presence-offline {
    background-color: #FFFFFF;
    border: solid 4px #99999C
  }

  &.layer-presence-invisible {
    background-color: #FFFFFF;
    border: solid 4px #50C062;
  }
}
