<template>
  <style>
    layer-identities-list {
      overflow-y: auto;
      display: block;
    }
    layer-identities-list:not(.layer-loading-data) .layer-load-indicator {
      display: none;
    }
  </style>
  <div class='layer-list-meta' layer-id='listMeta'>
    <div class='layer-empty-list' layer-id='emptyNode'></div>
    <div class='layer-meta-toggle'>
      <div class='layer-end-of-results-indicator' layer-id='endOfResultsNode'></div>

       <!-- Rendered when waiting for server data -->
      <div class='layer-load-indicator' layer-id='loadIndicator' layer-has-replaceable='true'>
        <div class='layer-replaceable-content'>
            <layer-loading-indicator></layer-loading-indicator>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  window.layerUI.registerTemplate('layer-identities-list');
</script>

