layer-messages-list {
    background-color: @color-list-background;

    .layer-end-of-results-indicator {
        font-size: 11px;
        padding: 4px 0px;
        margin: 8px 0px;
        color: @color-end-of-results-text;
    }
}
