layer-presence {
  margin-left: 12px;
  margin-right: 8px;
  &.layer-presence-away {
    background-color: rgb(245, 166, 35);
  }

  &.layer-presence-busy {
    background-color: rgb(208, 2, 27);
  }

  &.layer-presence-available {
    background-color: rgb(126, 214, 37);
  }

  &.layer-presence-offline {
    background-color: rgb(219, 219, 219);
  }

  &.layer-presence-invisible {
    background-color: #FFFFFF;
    border: solid #50C062;
  }

  &.layer-size-small {
    width: 10px;
    height: 10px;
  }

  &.layer-size-medium {
    width: 12px;
    height: 12px;
  }

  &.layer-size-large {
    width: 14px;
    height: 14px;
  }

  &.layer-presence-invisible {
    &.layer-size-small {
      width: 6px;
      height: 6px;
      border-width: 2px;
    }

    &.layer-size-medium {
      width: 8px;
      height: 8px;
      border-width: 2px;
    }

    &.layer-size-large {
      width: 10px;
      height: 10px;
      border-width: 2px;
    }
  }


}
