/*
 * TODO: Presence icon that represents multiple people (just shows the number of people and no presence info)
 */
layer-presence {
  margin-left: 12px;
  margin-right: 8px;
  &.layer-presence-away {
    background-color: @color-away;
  }

  &.layer-presence-busy {
    background-color: @color-busy;
  }

  &.layer-presence-available {
    background-color: @color-available;
  }

  &.layer-presence-offline {
    background-color: @color-offline;
  }

  &.layer-presence-invisible {
    background-color: white; // change to the background color of the page
    border: solid @color-invisible;
  }

  &.layer-size-small {
    width: 8px;
    height: 8px;
  }

  &.layer-size-medium {
    width: 10px;
    height: 10px;
  }

  &.layer-size-large {
    width: 12px;
    height: 12px;
  }

  &.layer-presence-invisible {
    &.layer-size-small {
      width: 4px;
      height: 4px;
      border-width: 2px;
    }

    &.layer-size-medium {
      width: 6px;
      height: 6px;
      border-width: 2px;
    }

    &.layer-size-large {
      width: 8px;
      height: 8px;
      border-width: 2px;
    }
  }
}
