/*
 * The Menu Button widget
 */
layer-menu-button span {
  font-size: 20px;
  color: @color-menu-button;
  &:hover {
    opacity: 1;
    color: @color-menu-button-hover;
  }
}
.layer-list-item:hover layer-menu-button span {
  opacity: 1;
}