<template>
  <style>
    layer-file-upload-button {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    /* Inspired by http://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/ */
    layer-file-upload-button input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
    layer-file-upload-button label {
      display: block;
      pointer-events: none;
      padding: 2px 6px 3px;
    }
  </style>
  <label layer-id='label'>Select File</label>
  <input layer-id='input' type='file'></input>
</template>
<script>
  window.layerUI.registerTemplate('layer-file-upload-button');
</script>
