<template>
  <style>
    layer-message-item-received {
      display: flex;
      flex-direction: column;
      align-content: stretch;
    }

    layer-message-item-received .layer-list-item {
      display: flex;
      flex-direction: column;
      align-content: stretch;
    }

    layer-message-item-received .layer-message-row {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }

    layer-message-item-received  .layer-message-item-main {
      flex-grow: 1;
      overflow: hidden;
    }

    /* Insure that text, images, videos, etc... are all left aligned */
    layer-message-item-received layer-message-text-plain {
      display: block;
    }
  </style>
  <div class='layer-list-item' layer-id='innerNode'>

    <!-- Header -->
    <layer-replaceable-content class='layer-message-header' name='messageRowHeader'></layer-replaceable-content>


    <!-- Body -->
    <div class='layer-message-row' layer-id='messageRow'>

      <!-- Body: Left Side -->
      <layer-replaceable-content class='layer-message-left-side' name='messageRowLeftSide'></layer-replaceable-content>

      <!-- Body: Message Contents -->
      <div class='layer-message-item-main'>
        <div class='layer-message-item-content' layer-id='content'></div>
      </div>

      <!-- Body: Right Side -->
      <layer-replaceable-content class='layer-message-right-side' name='messageRowRightSide'></layer-replaceable-content>

    </div>

    <!-- Footer -->
    <layer-replaceable-content class='layer-message-footer' name='messageRowFooter'></layer-replaceable-content>
  </div>
</template>
<script>
  window.layerUI.registerTemplate('layer-message-item-received');
</script>