<template>
  <style>
    layer-message-item-received {
      display: flex;
      flex-direction: column;
      align-content: stretch;
    }

    layer-message-item-received .layer-list-item {
      display: flex;
      flex-direction: column;
      align-content: stretch;
    }

    layer-message-item-received .layer-message-body-and-avatar {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }

    layer-message-item-received  .layer-message-item-main {
      flex-grow: 1;
      overflow: hidden;
    }

    layer-message-item-received .layer-message-item-main .layer-message-item-content {
      max-width: 90%;
    }


    /* Insure that text, images, videos, etc... are all left aligned */
    layer-message-item-received layer-message-text-plain {
      display: block;
    }
  </style>
  <div class='layer-list-item' layer-id='innerNode'>
    <div class='layer-message-body-and-avatar'>
      <layer-avatar layer-id='avatar' show-presence='false'></layer-avatar>
      <div class='layer-message-item-main'>
        <div class='layer-message-item-content' layer-id='content'></div>
      </div>
    </div>
    <div class='layer-sender-info'>
      <div class='layer-sender-name' layer-id='sender'></div>
      <layer-date layer-id='date'></layer-date>
    </div>
  </div>
</template>
<script>
  window.layerUI.registerTemplate('layer-message-item-received');
</script>