/* TODO: Refactor this so that group theme doesnt have chat bubbles */
layer-text-card {
  border-radius: 16px;
  padding: 8px 12px;
}

layer-message-item-received .layer-card-top,
layer-message-item-received layer-standard-card-container > layer-text-card {
  background-color: @message-item-bubble-received-background-color;
  color: @message-item-bubble-received-color;
  font-size: @font-medium;
}

layer-message-item-sent .layer-card-top,
layer-message-item-sent layer-standard-card-container > layer-text-card {
  background-color: @message-item-bubble-sent-background-color;
  color: @message-item-bubble-text-sent-color;
  font-size: @font-medium;
  flex-grow: 1;
}

layer-card-view.layer-text-card {
  padding-bottom: 0px;
}
