<template>
  <style>
    layer-notifier {
      position: fixed;
      z-index: 1000;
      right: 10px;
      top: -1000px;
      max-width: 40%;
      max-height: 250px;
      display: flex;
      opacity: 0;
      transition: opacity 500ms;
    }
    layer-notifier.layer-notifier-toast-fade {
      top: 10px;
    }
    layer-notifier.layer-notifier-toast {
      top: 10px;
      flex-direction: row;
      opacity: 1;
      transition: opacity 1s;
    }
    layer-notifier .layer-message-item-main {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
    layer-notifier layer-message-text-plain {
      overflow: hidden;
      max-height: 200px;
    }
  </style>
  <layer-avatar layer-id='avatar'></layer-avatar>
  <div class='layer-message-item-main' layer-id='container'>
    <div class='layer-notifier-title' layer-id='title'></div>
    <div class='layer-message-item-placeholder'></div>
  </div>
</template>
<script>
  window.layerUI.registerTemplate('layer-notifier');
</script>