@import "variables";

/* Do not show the avatar if there is no user associated with the avatar
 * or if the message is not the last message in the group.
 * A hidden
 */
layer-messages-list layer-message-item layer-avatar:not(.layer-has-user),
layer-messages-list layer-message-item:not(.layer-list-item-last) layer-avatar {
  height: 0px;
  & * {
    display: none;
  }
}

layer-messages-list layer-message-item {
  .layer-sender-info, layer-date {
      display: none;
      color: #ADB9C1;
      font-size: 0.8em;
  }
}

layer-message-item {

  .layer-list-item {
    align-items: flex-end;
    margin-bottom: 4px;

    layer-message-status {
      display: none;
    }

    .layer-message-item-content {
      padding: 4px 12px;
      display: inline-block;
      border-radius: @chatradius;
    }
  }

  &.layer-message-item-sent {
    justify-content: flex-end;
  }

  // Received Messages Only
  &.layer-message-item-received {
    .layer-message-item-content {
      background-color: @chatparticipantbackground;
      border: solid 1px @chatparticipantborder;
      color: @chatparticipanttext;
    }
    layer-avatar {
      margin-right: 30px;
      margin-left: 5px;
    }
  }
  &.layer-list-item-first .layer-sender-name {
    display: block;
  }
  &.layer-list-item-last layer-date {
    display: block;
  }


  // Sent Messages Only
  &.layer-message-item-sent {
    .layer-message-item-content {
      background-color: @chatownerbackground;
      border: solid 1px @chatownerborder;
      color: @chatownertext;
    }

    layer-avatar {
      margin-right: 5px;
      margin-left: 30px;
    }
  }

  // Last message in group
  &.layer-list-item-last {
    .layer-sender-details {
      margin-top: 4px;
      display: block;
      layer-date {
        display: inline;
      }
    }
    &.layer-last-message-sent layer-message-status {
      display: inline;
      margin-left: 10px;
    }
    .layer-message-item-delete {
      margin-bottom: 18px;
    }
  }

  layer-delete {
    opacity: 0;


    &.layer-delete-enabled {
      opacity: 0.4;
      color: #ADB9C1;
      border: solid 1px transparent;
      padding: 2px 4px 8px;
      &:hover {
        opacity: 1;
        color: white;
        border-radius: 12px;
        background-color: #aaa;
        border: solid 1px #888;
      }
    }
  }
}
