<template>
  <style>
    layer-identity-item {
      display: flex;
      flex-direction: column;
    }
    layer-identity-item .layer-list-item {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    layer-identity-item .layer-list-item label {
      flex-grow: 1;
      width: 100px; /* Flexbox bug */
    }
    layer-identity-item.layer-item-filtered .layer-list-item {
      display: none;
    }
    layer-identity-item.layer-identity-item-empty {
      display: none;
    }
    layer-identity-item layer-presence.presence-without-avatar {
      display: none;
    }
    layer-identity-item.layer-size-tiny layer-presence {
      display: block;
    }
    layer-identity-item.layer-size-tiny layer-avatar {
      display: none;
    }
    layer-identity-item.layer-size-tiny layer-age {
      display: none;
    }

  </style>
  <div class='layer-list-item' layer-id='listItem'>
    <layer-avatar layer-id='avatar' show-presence='true'></layer-avatar>
    <layer-presence layer-id='presence' class='presence-without-avatar' size='medium'></layer-presence>
    <label class='layer-identity-name' layer-id='title'></label>
    <layer-age layer-id='age'></layer-age>
    <layer-replaceable-content layer-id='rightSide' class='layer-identity-right-side' name='identityRowRightSide'></layer-replaceable-content>
  </div>
</template>
<script>
  window.layerUI.registerTemplate('layer-identity-item');
</script>
