<template>
  <style>
      layer-compose-bar {
        display: flex;
        flex-direction: row;
      }
      layer-compose-bar .layer-compose-edit-panel {
        position: relative;
        flex-grow: 1;
        width: 100px; /* Flexbox fix */
        padding: 1px 0px;
      }
      layer-compose-bar textarea, layer-compose-bar .hidden-resizer, layer-compose-bar .hidden-lineheighter {
        min-height: 20px;
        overflow: hidden;
        border-width: 1px;
        border-color: transparent;
        margin: 0px;
        width: 100%;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
      layer-compose-bar textarea {
        resize: none;
        outline: none;
        position: absolute;
        z-index: 2;
        top: 0px;
        left: 0px;
        height: 100%;
        overflow-y: auto;
      }
      layer-compose-bar.layer-compose-bar-one-line-of-text textarea {
        overflow-y: hidden;
      }
      layer-compose-bar .hidden-resizer {
        opacity: 0.1;
        white-space: pre-wrap;
        word-wrap: break-word;
        max-height: 250px;
      }
      layer-compose-bar .layer-compose-edit-panel .hidden-lineheighter {
        top: 0px;
        opacity: 0.1;
        white-space: nowrap;
        position: absolute;
        right: 10000px;
      }
      layer-compose-bar .layer-button-panel .layer-replaceable-inner {
        display: flex;
        flex-direction: row;
        align-items: stretch;
      }
  </style>

  <layer-replaceable-content class='layer-button-panel layer-button-panel-left' name='composerButtonPanelLeft'></layer-replaceable-content>

  <div class='layer-compose-edit-panel' layer-id='editPanel'>
    <div class='hidden-resizer' layer-id='resizer'>&nbsp;&nbsp;</div>
    <div class='hidden-lineheighter' layer-id='lineHeighter'>&nbsp;</div>
    <textarea rows="1" layer-id='input'></textarea>
  </div>

  <layer-replaceable-content class='layer-button-panel layer-button-panel-right' name='composerButtonPanelRight'>
    <layer-send-button></layer-send-button>
  </layer-replaceable-content>
</template>
<script>
  window.layerUI.registerTemplate('layer-compose-bar');
</script>
